doctype
html

  head

    link(rel="stylesheet" href="/css/main.css")

    //Third party requirements
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js")

    //Main josh.js scripts
    //-script Josh = {Debug: true };
    script(src="/josh.js/js/history.js")
    script(src="/josh.js/js/killring.js")
    script(src="/josh.js/js/readline.js")
    script(src="/josh.js/js/input.js")
    script(src="/josh.js/js/shell.js")
    script(src="/josh.js/js/pathhandler.js")

    //gitgraph components
    script(src="/js/gitgraph.js")
    link(href="/css/gitgraph.css", rel="stylesheet")

  body
    div.container
      //Yield should be purely JS containing the repo info
      != yield

      //Filled by JS based on settings, why not use the notifications
      //web api? permissions and not needed when the user isn't on
      //the page.
      div#notification

      div#Left
        div
          div#header
            h1 Git-Sandbox

            //Contain the settings
            details#settings
              summary settings
              div
                details
                  summary Notifications
                  div.setting-container
                    input(type="checkbox")
                    | Notifications
                  div.setting-container
                    input(type="checkbox")
                    | Object creation
                  div.setting-container
                    input(type="checkbox")
                    | Merge conflicts
                  div.setting-container
                    input(type="checkbox")
                    | Remote changes
                  div.setting-container
                    input(type="checkbox")
                    | errors
                details
                  summary Setup
                  div.setting-container
                    input(type="checkbox")
                    | multiple remotes
            select#snippet
              option what is git
              option remotes
              option git objects: trees, blobs, commits

          //Text area
          div#info
            h2 What is Git
            p Git is a version control system(vcs). In simple terms it let's you share code with others without passing a flashdrive back and forth. Benefits of Git include:
              ul
                li Easily see changes and figure out where conflicting changes happenned.
                li Don't rely on a central server. With Git everyone has a copy of the code and its history.
                li Make the changes you want and branch off into a new feature or even a new project(forking)
                li A robust community of developers who have helped to put 95% of the questions you'll ask on Stack Overflow
            | While Git is an awesome tool, it can be hard to understand when you're just starting out. Git Sandbox is here to help you understand Git with an interactive and visual tool along with links to other great Git resources.

          //terminal divs
          div#shell-panel
            div#shell-view


      div#Right
        div
          //TODO change to dynamically load
          //the remotes from JSON
          div#graphs
            h2 Graphs of remotes
            div.remote
              h2 Local git graph
              canvas#gitGraph
            div.remote
              h2 Graph of remote: origin
              canvas#localGraph

      //Make the terminal with josh.js
      script(src="/js/terminal.js")
      //Make the necessary instances of gitgraphs
      script(src="/js/graph.js")
